<!DOCTYPE html>
<html lang="df">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classification de commentaire</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-3">Votre commentaire est-il poli ?</h1>
      <form action="/classify" method="POST" id="form">
        <textarea
          name="comment"
          rows="4"
          cols="50"
          id="input"
          class="form-control mt-3"
          placeholder="Entrez un commentaire (en anglais)"
        ></textarea>
        <button id="button" class="btn btn-primary mt-3">
          <span id="notLoading">Analyser</span>
          <span id="loading" style="display: none;"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
      </form>
      <hr class="mt-3">
      <p id="result" class="mt-3"></p>
    </div>
    <script src="https://kit.fontawesome.com/14080d5426.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      document.getElementById("form").addEventListener("submit", (e) => {
        e.preventDefault();

        queryEl = document.getElementById("input");
        resultEl = document.getElementById("result");
        btnEl = document.getElementById("button");
        loadingEl = document.getElementById('loading')
        notLoadingEl = document.getElementById('notLoading')

        btnEl.setAttribute("disabled", "disabled");
        resultEl.innerHTML = "";
        notLoadingEl.style.display = 'none'
        loadingEl.style.display = 'inherit'

        axios
          .post("/classify", {
            comment: queryEl.value,
          })
          .then(function (response) {
            console.log(response);

            resultEl.innerHTML =  queryEl.value + ': ' + response.data;
            btnEl.removeAttribute("disabled");
            loadingEl.style.display = 'none'
            notLoadingEl.style.display = 'inherit'
            queryEl.value = ''

          })
          .catch(function (error) {
            btnEl.removeAttribute("disabled");
            loadingEl.style.display = 'none'
            notLoadingEl.style.display = 'inherit'

            console.log(error);
          });
      });
    </script>
  </body>
</html>
